<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<dict>
		<key>rightBarButton_ipad</key>
		<string></string>
		<key>leftBarButton_ipad</key>
		<string>back_btn-72</string>
		<key></key>
		<string>header_logo-72</string>
		<key>rightBarButton_iphone</key>
		<string></string>
		<key>leftBarButton_iphone</key>
		<string>back_btn</string>
		<key>backgroundImage_iphone</key>
		<string></string>
	</dict>
</dict>
</plist>
