<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tabbar</key>
	<dict>
		<key>Home</key>
		<string>home.png</string>
		<key>Browse</key>
		<string>browse.png</string>
		<key>MyCart</key>
		<string>mycart.png</string>
		<key>Offers</key>
		<string>offer.png</string>
		<key>More</key>
		<string>more.png</string>
		<key>Home-Highlighted</key>
		<string>home_selected.png</string>
		<key>Browse-Highlighted</key>
		<string>browse_selected.png</string>
		<key>MyCart-Highlighted</key>
		<string>mycart_selected.png</string>
		<key>Offers-Highlighted</key>
		<string>offer_selected.png</string>
		<key>More-Highlighted</key>
		<string>more_selected.png</string>
	</dict>
</dict>
</plist>
