<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavigationBar</key>
	<dict>
		<key>rightBarButton_ipad</key>
		<string>back_btn-72</string>
		<key>leftBarButton_ipad</key>
		<string>back_btn-72</string>
		<key>title-ipad</key>
		<string></string>
		<key>backgroundImage_ipad</key>
		<string>header_logo-72</string>
		<key>rightBarButton_iphone</key>
		<string>back_btn</string>
		<key>leftBarButton_iphone</key>
		<string>back_btn</string>
		<key>title-iphone</key>
		<string></string>
		<key>backgroundImage_iphone</key>
		<string>header_logo</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>password</key>
		<string>Password</string>
		<key>emailaddress</key>
		<string>Email Address</string>
		<key>backgroundImage</key>
		<string>login_bg</string>
		<key>header</key>
		<string>login_header</string>
		<key>loginImage</key>
		<string>login_btn</string>
		<key>cancelImage</key>
		<string>cancel_btn</string>
		<key>font</key>
		<string>Helvetica-Bold</string>
	</dict>
</dict>
</plist>
