<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DashBoard</key>
	<dict>
		<key>padding_iphone</key>
		<string>40</string>
		<key>padding_ipad</key>
		<string>80</string>
		<key>iPhoneHomeButtonImages</key>
		<dict>
			<key>imagesArray</key>
			<array>
				<string>browse_icon.png</string>
				<string>specialoffer_icon.png</string>
				<string>login_icon.png</string>
				<string>register_icon.png</string>
			</array>
			<key>homeBg</key>
			<string>icons_bg.png</string>
		</dict>
		<key>iPadHomeButtonImages</key>
		<dict>
			<key>imagesArray</key>
			<array>
				<string>browse_icon-72.png</string>
				<string>specialoffer_icon-72.png</string>
				<string>login_icon-72.png</string>
				<string>register_icon-72.png</string>
			</array>
			<key>homeBg</key>
			<string>icons_bg-72.png</string>
		</dict>
		<key>titleLabel</key>
		<array>
			<string>Browse</string>
			<string>SpecialOffer</string>
			<string>Login</string>
			<string>Register</string>
		</array>
		<key>fontSize</key>
		<string>12</string>
		<key>font</key>
		<string>Verdana</string>
	</dict>
</dict>
</plist>
